@charset "UTF-8";
/* 可忽略 */
* {
  box-sizing: border-box; }

body {
  font-family: Microsoft JhengHei; }

.wrap {
  width: 100%;
  margin: 0 auto; }

section {
  padding-top: 25px;
  padding-bottom: 25px; }

/* 從這裡開始 */
.slider {
  margin: 20px auto; }

.slick-slide {
  margin: 0px 20px; }
  .slick-slide img {
    width: 100%; }

.slick-prev:before,
.slick-next:before {
  color: black; }

.course-search {
  display: inline-block;
  margin-right: 30px; }
  .course-search button {
    padding-left: 30px;
    padding-right: 30px; }

.my-course-card {
  padding-top: 1px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.95); }
  .my-course-card a {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 5px; }

.card-inform {
  border-radius: 30px;
  color: white;
  text-align: center;
  font-size: 18px;
  background: #37761D;
  margin-left: 15px;
  margin-right: 15px; }
  .card-inform h3 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 20px; }
  .card-inform span {
    font-size: 18px;
    margin: 0 auto;
    display: block;
    padding-bottom: 50px; }
  .card-inform > hr {
    display: inline-block;
    width: 30%;
    color: #fff; }
  .card-inform .card-price {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 0; }

.course-list {
  list-style: none;
  margin-top: 20px;
  padding-right: 30px; }
  .course-list > li > ul > li {
    display: inline-block;
    list-style-type: circle;
    padding: 10px 0;
    border-bottom: 1px solid #D5D8DC;
    font-size: 14px; }
